<% if user_signed_in? %>

  <% if post.like_user(current_user.id)%>
    <div class="item-button-container__left">
      <%= link_to post_like_path(current_user, post, like), method: "DELETE", remote: true do %>
        <i class="far fa-heart"></i>
      <span class= "iine">LIKE!<%= post.likes_count %>
      </span>
    </div>
  <% end %>

    <% else %>
      <div class="item-button-container__left__like">
        <%= link_to post_likes_path(current_user, post, like), method: "POST", remote: true do %>
        <i class="fas fa-heart"></i>
        <span class= "iine">LIKE!<%= post.likes_count %>
        </span>
      </div>
    <% end %>
  <% end %>


<% else %>
  <div class="item-button-container__left__like">
    <i class="fas fa-heart"></i>
    <span class= "iine">LIKE!<%= post.likes_count %>
    </span>
  </div>
<% end %>