<main>
  <nav></nav>
  <div class= "postdetail">
    <div class="postTitle">
      <%= @post.title %>
    </div>
    <div class="postDate">
      <%= @post.created_at.to_s(:datetime_jp) %>
    </div>
    <div class="postAuthor">
      <%= @post.user.nickname %>
    </div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="postManage">
        <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
      </div>
    <% end %>
    <div class="postText">
      <%= simple_format @post.content %>
    </div>
    <div class="postimage">
      <img src="<%= @post.image %>",new_post_path, class="aaaa">
    </div>
    <div class= "item-button-container">
      <div class= "item-button-container__left">
        <%= render partial: 'shared/like', locals: { post: @post, posts: @posts, likes: @likes, like: @like} %>
      </div>
    </div>
  </div>
  <aside></aside>
</main>

